<footer class="footer" style="background-color: #CCCCCC">
  <div class="container is-text-centered">
    <div class="content">
      <p style="padding-bottom: 25px;">
          <strong> School Leadership Policy Toolkit </strong>&copy; 2016</br> Sponsored by <a href="http://crpe.org/" target="_blank">Center on Reinventing Public Education</a> &amp; <a href="http://edexcellence.net/" target="_blank">Thomas B. Fordham Institute</a>
      </p>
      <span style="padding-top: 25px;"><a style="border-bottom: 0px" href="http://crpe.org/" target="_blank"><img src="/img/crpe-logo.png" style="max-width: 200px; margin-right: 50px;"></a><a style="border-bottom: 0px" href="http://edexcellence.net/" target="_blank"><img src="/img/fordham-logo.png" style="max-width: 200px"></a></span>
    </div>
  </div>
<script type="text/javascript">
$(document).ready(function(){
	$('a[href^="#"]').on('click',function (e) {
	    e.preventDefault();

	    var target = this.hash;
	    var $target = $(target);

	    $('html, body').stop().animate({
	        'scrollTop': $target.offset().top
	    }, 650, 'swing', function () {
	        window.location.hash = target;
	    });
	});
});
</script>
</footer>
