<section id="top" class="hero is-left is-info is-bold">
<div class="hero-header">
  <header class="header">
    <div class="container">
      <div class="header-left">
        <a class="header-item" href="http://schoolleadershippolicytoolkit.com/">
          <h1 class="title">{{ site.title }}</h1>
        </a>
      </div>
      <div class="navbar-right">
        <a class="header-item" href="https://twitter.com/home?status=Principal%20policy%20toolkit%20for%20developing%20state%20strategy%20to%20improve%20%23schoolleadership,%20via%20%40CRPE_UW%20%40educationgadfly%3A%20http%3A//ow.ly/10ASex">
          <span class="icon"><i style="color: #ffffff" class="fa fa-twitter"></i></span>
        </a>
        <a class="header-item" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//ow.ly/10ASex">
          <span class="icon"><i style="color: #ffffff" class="fa fa-facebook"></i></span>
        </a>
        <a class="header-item" href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//ow.ly/10ASex&title=School%20Leadership%20Policy%20Toolkit&summary=Principals%20play%20a%20critical%20role%20in%20supporting%20teachers%20and%20raising%20student%20achievement.%20Yet%20too%20little%20attention%20has%20been%20paid%20to%20what%20makes%20a%20great%20principal%20and%20how%20to%20get%20more%20of%20them%20in%20the%20schools%20that%20need%20them%20most.%20To%20help%20develop%20more%20coherent%20strategies%20for%20strengthening%20states%E2%80%99%20principal%20policies,%20the%20Center%20on%20Reinventing%20Public%20Education%20and%20the%20Thomas%20B.%20Fordham%20Institute%20have%20built%20an%20online%20School%20Leadership%20Policy%20Toolkit%20for%20advocacy%20leaders%20and%20policymakers.%20&source=">
          <span class="icon"><i style="color: #ffffff" class="fa fa-linkedin"></i></span>
        </a>
      </div>
    </div>
  </header>
</div>

<div class="hero-content" style="padding: 20px;">
  <div class="container">
    <div class="navbar-right">
    <p class="header-item"><a class="button is-info is-outlined is-inverted is-small" href="{{site.url}}/author">About the Author</a></p>
    <p class="header-item"><a class="button is-info is-outlined is-inverted is-small" href="{{site.url}}/documents">Documents</a></p>
    </div>
</div>
</div>

<div class="hero-footer">
  <nav class="tabs is-left is-boxed">
    <div class="container">
      <ul>
        {% assign pages_list = site.pages | sort: 'order' %}
        {% for node in pages_list %}
          {% if node.title != null %}
            {% if node.layout == "page" %}
              <li class="{% if page.url == node.url %}is-active{% endif %}"><a href="{{ node.url }}">{{ node.title }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
    </ul>
    </div>
  </nav>
</div>
</section>
