<section id="top" class="hero is-left is-info is-bold">
<div class="hero-header">
  <header class="header">
    <div class="container">
      <div class="header-left">
        <a class="header-item" href="{{ site.url }}">
          <h1 class="title">{{ site.title }}</h1>
        </a>
      </div>
      <div class="navbar-right">
        <a class="header-item">
          <span class="icon"><i style="color: #ffffff" class="fa fa-twitter"></i></span>
        </a>
        <a class="header-item">
          <span class="icon"><i style="color: #ffffff" class="fa fa-facebook"></i></span>
        </a>
        <a class="header-item">
          <span class="icon"><i style="color: #ffffff" class="fa fa-linkedin"></i></span>
        </a>
      </div>
    </div>
  </header>
</div>

<div class="hero-content" style="padding: 20px;">
  <div class="container">
    <div class="navbar-right">
    <p class="header-item"><a class="button is-info is-outlined is-inverted is-small" href="{{site.url}}/author">About the Author</a></p>
    <p class="header-item"><a class="button is-info is-outlined is-inverted is-small" href="{{site.url}}/documents">Documents</a></p>
    </div>
</div>
</div>

<div class="hero-footer">
  <nav class="tabs is-left is-boxed">
    <div class="container">
      <ul>
        {% assign pages_list = site.pages | sort: 'order' %}
        {% for node in pages_list %}
          {% if node.title != null %}
            {% if node.layout == "page" %}
              <li class="{% if page.url == node.url %}is-active{% endif %}"><a href="{{ node.url }}">{{ node.title }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
    </ul>
    </div>
  </nav>
</div>
</section>
